.table{
    /*height: 300px;*/
    overflow-y: auto;
}
/* some stuff for order page elements under the map*/
.product-order, .order-content, .orderTr,.order-route, .order-spot {
    height: 300px;
    /*border: 0.5px solid darkmagenta;*/
    border: 1px solid black;
}

/* order map */
.orderMap{
    height:530px;
    padding-left: 20px;
}
.order-spot{
    padding-left: 40px;
    height:530px;
}
.product-order{
    overflow-y: auto;
}
/* header divider */
.hr-divider{
    position: relative;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
}
.hr-divider:before{
    position: absolute;
    top: 50%;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #434857;
}
.hr-divider-content{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 100%;
    color: inherit;
}
.hr-divider-heading{
    position: relative;
    z-index: 2;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    color: #6f7890;
    vertical-align: middle;
    background-color: #252830;
}
.hr-divider-content{
    text-align:center;
    color: #cfd2da;
}
/* add float to lat-long class input */
.spot-latitude,.spot-type,.time-delivery,.date-delivery,.transport /*.order-button*/{
    float: left;
}
/* add margin to longitude class from latitude class*/
.spot-longitude{
    float: right;
}
.create-order-btn{
    float: left;
}
.add-transport-btn{
    float: right;
}
.spot-type{
    width: 100%;
}
/*.product-order{
    width: 100%;
    height: 30px;
}*/
.transport{
    width: 100%;

}
/* general margin-top class to use*/
.mar-top-10{
    margin-top: 15px;
}
/* general width class for select with value 300px */
.select-w-300{
    width: 300px;
    height: 25px;
}
.time-delivery{
    margin-left: 15px;
}
.order-route{
    overflow-y: auto;
}
/* search location div filed and button*/
.search-spot-location{
    display: block;
    position: absolute;
    /*top: 30px;*/
    margin: 11px 125px;
    z-index: 5;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease-out;
}
.transparent-background{
    background: rgba(255, 255, 255, 0.5);
}
.custom-height-25{
    height: 30px;
}
/* error's color of failed entered values into the product order form fields */
.has-error{
    color:red;
}
/* coords div */
#coords {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin: 493px auto;
    color: white;
    padding: 5px;
    font-size: 12px;
}
.delete-buttons{
    z-index: 5;
    top: 30px;
    position: absolute;
    margin-left: 725px;
    margin-top: 40px;
    /*float: left;*/
}
.delete-buttons > input{
    float: left;
}
.order-panel {
    margin-top: 20px;
    background-color: #434857;
    overflow-y: auto;
}
.panel-heading-order{
    background-color: #434857;
}
.panel-order{
    background-color: #434857;
    height: 150px;
    overflow-y: auto;
}
#right-panel{
    width: 100%;
    background-color: white;
    overflow-y: auto;
}
.btn-date-delivery{
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #434857;
    background-image: none;
    border: 1px solid #434857;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/*.l-spot-lon{
    color: white;
}*/
.panel-spot{
    height: 150px;
}
.panel-spot{
    overflow-y: auto;
    float: right;
    margin-top: 15px;
    width: 100%;
}
.order-btn{
    margin-right: 20px;
}

.btn-32-per{
    width: 32.7%;
}
.btn-32-per:hover{
    border-color:#FCA311;
}
.btn-35-per{
    width: 35%;
}
.btn-35-per:hover{
    border-color:#FCA311;
 }
.btn-100-per{
    width: 100%;
}
.btn-100-per:hover{
    border-color:#FCA311;
}
.order-save-btn:hover{
    border-color:#FCA311;
}
.order-print-btn:hover{
    border-color:#FCA311;
}
.select-w-150{
    width: 148px;
    height: 25px;
}

/* scroll style*/
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



